{% load hypergen %}
{% url "djangotemplates:push" as u1 %}
{% url "djangotemplates:plus" as u2 %}
{% url "djangotemplates:minus" as u3 %}
{% url "djangotemplates:multiply" as u4 %}
{% url "djangotemplates:divide" as u5 %}

<h2>Push number on stack</h2>

<input id="number" type="number">
<button id="push" {% callback "push" "onclick" u1 "number"|element|coerce_float %}>Push</button>

<h2>Perform operation</h2>
<button id="plus" {% callback "plus" "onclick" u2 %}>+</button>
<button id="minus" {% callback "minus" "onclick" u3 %}>-</button>
<button id="multiply" {% callback "multiply" "onclick" u4 %}>*</button>
<button id="divide" {% callback "divide" "onclick" u5 %}>/</button>

<h2>Stack</h2>
<ul>
{% for item in stack %}
  <li>{{item}}</li>
{% endfor %}
</ul>
