twine<=3.8.0
pyrsistent<=0.16.1
PyYAML<=6.0.1
yapf<=0.33.0
pytest<=7.0.1
yattag<=1.15.1
beautifulsoup4<=4.9.3
pyperclip<=1.8.1
Django<=4.2.6
channels<=4.0.0
daphne<=4.0.0
channels-redis<=4.1.0
Cython==3.0a6
contextlib2==0.6.0.post1
cymem==2.0.8
numpy<=1.26.0
pyprof2calltree<=1.4.5
docutils<=0.20.1
django-render-block<=0.9.2
