body {
  grid-template-columns: 1fr min(90rem,90%) 1fr;
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  display: inline-block;
}

nav a.current {
  color: var(--accent) !important;
  border-color: var(--accent);
}

table input, table textarea, table select {
  width: 100%;
}

#i1, #i2, #i3, #i4 {
  width: 50px;
  margin-right: 4px;
}
#mycallback-receive {
  display: inline;
}

dl {
  background-color: #f5f7ff;
  padding: 16px;
}
dt {
  font-weight: bold;
}

dl em {
  font-size: 110%;
  color: black;
}

button {
  margin-right: 8px;
}

header img {
  vertical-align: bottom;
  padding-bottom: 10px;
  width: 40px;
  height: 50px;
}

header h1 {
  display: inline;
}

header span {
  color: rgb(88, 88, 88);
  vertical-align: middle;
  display: inline-block;
  margin-left: 8px;
  margin-bottom: 8px;
}

#page1, #page2, #page3 {
  margin-right: 8px;
}

.center {
  text-align: center;
}

div.terminals {
  /* width: 80%;
     margin: auto; */
}

div.terminals a.selected {
  font-weight: bold;
  text-decoration: underline;
}

div.terminals a {
  margin-right: 8px;
}

pre.terminal {
  background-color: #65748B;
  border-radius: 5px;
  margin-top: 0px;
}

pre.terminal code {
  color: white;
}

pre.terminal::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    height: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
pre.terminal::-webkit-scrollbar-thumb {
    background: #FF0000;
}

a {
  cursor: pointer;
}

.hero h2 {
  margin-bottom: 0px;
  font-weight: bolder;
}

code, tt {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(175,184,193,0.2);
  border-radius: 6px;
  color: rgb(36, 41, 47);
}

pre code.hljs {
  padding: 0;
}

.hljs {
  color: inherit;
}

pre {
  padding: 16px;
  background-color: #f3f3f3;
  border: none;
}

dd ul {
  margin-top: 0px;
}
